# Maven-specific files
/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
/mvnw
/mvnw.cmd

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Secrets #
*.pem
*.pub

# MacOS
.DS_Store

# Logs
*.log

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Java-specific
*.class
*.jar
*.war
*.ear

# Spring Boot
/*.env
/*.config
/*.properties

# Sensitive configuration files
.env
application-*.yml
application-*.properties
src/main/resources/application.properties
