# Maven-specific files
/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
/mvnw
/mvnw.cmd

# IntelliJ
.idea/
.idea
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Secrets #
*.pem
*.pub
firebaseServiceAccount.json

# MacOS
.DS_Store

# Logs
*.log

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Java-specific
*.class
*.jar
*.war
*.ear

# Spring Boot
/*.env
/*.config

# Sensitive configuration files
.mysql-env
.all-in-env
mysql-init.sql
/deployment
application.properties
